/* Reset generale e adattamento dei relativi box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: auto;
  }

  h1, h2, h3, h4, h5, h6 , p{
    font-weight: normal;
  }
  
  a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
  }
  
  main{
    width: 100%;
  }

  img{
    width: 100%;
  }

  button {
    font-family: inherit;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }


header {
    background-color: #ff5a00;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.img-header{
  width: 10%;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

header nav{
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
}

.img-pr{
  position: absolute;
  overflow: hidden;
  top: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.icons{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding: 9px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    width: 270px;
    height: 468px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.text-pr{
  width: 100%;
  gap: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.heart-icon{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
}

.text-sold{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.discount {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 10px;
}

.sustainability {
    background-color: green;
    color: white;
    padding: 9px;
}

.text-bt{
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  text-align: left;
  width: 100%;
}

.price {
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: grey;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.links-ft, .par-links{
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.links-ft{
  gap: 10px;
}

.ft-social{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.icon-ft{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*Classi di hovering */

.img-pr:hover .img1{
  display: none;
}

.img-pr .img2{
  display: none;
}

.img-pr:hover .img2{
  display: block;
}

.product:hover{
  cursor: pointer;
}